*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.main {
  max-width: 900px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 150px 4fr;
  grid-template-rows: 150px 1fr;
}

.header {
  text-align: center;
  grid-column: 1 / 6;
}

.sidebar {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
}

.library {
  grid-column: 2 / -1;
  grid-row: 2 / 3;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-template-rows: 250px;
  grid-auto-rows: 250px;
  gap: 1em;
  padding: 1em;
}

.book-card {
  position: relative;
  background-color: red;
  padding: 2em 1em 1em 1em;
  border-left: 0.5em solid black;
  border-radius: 0.3em;
  display: grid;
  grid-template-columns: 1fr 5fr;
  gap: 1em;
}

.has-read {
  transform: scale(1.5);
}

.close-card {
  position: absolute;
  font-size: 1.2em;
  top: 0.5em;
  right: 0.5em;
  background: none;
  border: none;
  width: 1em;
  background-color: grey;
}

.close-card:hover {
  background-color: green;
}
