*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --cherry-red: #990011;
  --off-white: #fcf6f5;
}

body {
  background-color: var(--off-white);
}

.main {
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 100px 1fr;
}

.container {
  max-width: 1200px;
  min-height: 100vh;
  background-color: var(--cherry-red);
  margin: 0 auto;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-column: 1 / 6;
  font-size: 2.5em;
  color: var(--off-white);
  border-bottom: 1px solid black;
}

.header-title {
  text-shadow: 1px 1px 2px black;
}

.sidebar {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
  background-color: var(--off-white);
  margin: 1em;
  height: 22em;
  border-top: 0.5em solid black;
  border-radius: 0.3em;
}

.library {
  grid-column: 2 / -1;
  grid-row: 2 / 3;
  display: grid;
  grid-template-columns: repeat(auto-fit, 250px);
  grid-template-rows: 320px;
  grid-auto-rows: 320px;
  gap: 1em;
  padding: 1em;
}

.book-card {
  position: relative;
  background-color: var(--off-white);
  padding: 2em 1em 1em 1em;
  border-left: 0.5em solid black;
  border-radius: 0.3em;
  display: grid;
  grid-template-columns: 1fr 6fr;
  grid-template-rows: 6em 4em 2.5em;
  gap: 1em 0.3em;
  box-shadow: rgba(0, 0, 0, 0.15) 2px 2px 3px;
}

.has-read {
  transform: scale(1.5);
}

.close-card {
  position: absolute;
  font-size: 1.2em;
  top: 0.3em;
  right: 0.3em;
  background: none;
  border: none;
  width: 1em;
  background-color: grey;
}

.close-card:hover {
  background-color: green;
}

.field-info {
  background-color: white;
  padding: 0.5em;
  border-radius: 0.3em;
  width: 95%;
  text-overflow: ellipsis;
  overflow-y: scroll;
}

.label {
  padding-top: 0.5em;
}

.form-inputs {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.5em;
}

.form-container {
  display: flex;
  flex-direction: column;
  gap: 2em;
  justify-content: center;
  padding: 1.8em;
}

.form-input input[type="text"] {
  padding: 0.3em 0.5em;
}

.form-input input[type="checkbox"] {
  margin-left: 0.5em;
}

.new-book {
  font-size: 1.5em;
}
